<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CMaterial+Icons' rel="stylesheet">
  <script src="https://cdn.bootcss.com/echarts/4.0.4/echarts-en.min.js"></script>
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="shortcut icon" href="<%= BASE_URL %>/static/m.png" type="image/x-icon">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description"
    content="SGS - Sistema de Gestão para Empresas de Saneamento que possuem tecnologia SagaTech para telemetria de água">
  <meta name="keywords" content="admin, dashboard, webapp, tecnologia, sistema, saneamento, sagatech, água, telemetria, automação, gestão,
    sensor, macromedidor, micromedidor, hidrometro, deso, copasa, embasa, saga, medição, sagamedição">
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3881136-11"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-3881136-11');
  </script>
</body>

</html>